*{
    font-family: "Poppins", sans-serif;
}
.parent-container {
    display: flex;
  }
  
  .child-div {
    flex: 1;
    padding: 10px;
  }
  
  .child-div2 {
    flex-basis: 60%;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .child-div3 {
    flex-basis: 25%;
  }
  .projectCardsParent{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
